<!DOCTYPE html>
<html ng-app="starter" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title><%-defineContent('title')%></title>

    <link rel="shortcut icon" href='/favicon/siafu.ico' type="image/x-icon">
    <link rel="icon" href='/favicon/siafu.ico' type="image/x-icon">

    <!-- Bootstrap -->
    <link type="text/css" href="/libs/bootstrap/bootstrap-v3.3.7.min.css" rel="stylesheet">
    <link type="text/css" href="/libs/font-awesome/font-awesome-4.6.3.min.css" rel="stylesheet">
    <!-- <link type="text/css" href="/libs/angular/angular-motion-v0.4.4.min.css" rel="stylesheet"> -->
    <link type="text/css" href="/libs/bootstrap/bootstrap-additions-v0.3.1.min.css" rel="stylesheet">
    <link type="text/css" href="/libs/bootstrap/fileinput.min.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/libs/html5shiv-3.7.3.min.js"></script>
    <script src="/libs/respond-1.4.2.min.js"></script>
    <![endif]-->

    <%-defineContent('stylesheet')%>
    <%-defineContent('style')%>
</head>

<body>

    <%if (isAuthenticated) { %>
    <h3><a href="/me"><%= user.username %></a> &nbsp; <a style="font-size:.75em;color:cadetblue;font-style: oblique;" href="/logout">Logout</a></h3>
    <% } %>

    <div class="main-content">
        <%- body %>
    </div>
    

    <script type="text/javascript" src="/libs/jquery/jquery-1.12.4.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/app.js"></script> -->
    <script type="text/javascript" src="/plugins/canvas-loading.js"></script>
    
    <%-defineContent('script')%>
</body>
</html>



