<h1>Cinema</h1>


<div class="seat-container">
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat empty">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat sel">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="seat saled">
		
	</div>
	<div class="clearFix"></div>
</div>


<%- contentFor('style') %>
<style type="text/css">
  .seat-container>div.seat{
  	width:32px;
  	height: 32px;
  	float: left;
  	background-position-x: center;
    background-position-y: center;
    background-size: 32px 32px;
  }

  .seat-container>div.seat.empty {
  	background-image: url(/images/seat-empty.png);
  }

  .seat-container>div.seat.saled {
  	background-image: url(/images/seat-saled.png);
  }

  .seat-container>div.seat.sel {
  	background-image: url(/images/seat-sel.png);
  }
</style>

<%- contentFor('title') %>
Cinema