<h1>Cinema</h1>

<div style="text-align: center;">
	<h1>Title</h1>
</div>

<input type="hidden" value="<%= cinemaId %>" name="cinemaId" />

<div class="seat-wapper">
	<div class="seat-container">
		<div class="loading" style="display: block;">
			<canvas id="loadingCanvas" width="150" height="150" style="margin-top: -75px;"></canvas>
		</div>
		<div style="float:left;">
			<div class="s-row col-number">
				<div class="seat number head">
					<span>&nbsp;</span>
				</div>
				<div class="seat number">
					<span>1</span>
				</div>
				<div class="seat number">
					<span>2</span>
				</div>
				<div class="seat number">
					<span>3</span>
				</div>
				<div class="seat number">
					<span>4</span>
				</div>
				<div class="seat number">
					<span>5</span>
				</div>
				<div class="seat number">
					<span>6</span>
				</div>
				<div class="seat number">
					<span>7</span>
				</div>
				<div class="seat number">
					<span>8</span>
				</div>
				<div class="clearFix"></div>
			</div>
		</div>
		<div style="float:left;">
			<div class="seat screen" style="float:none;width:auto;">
				<div style="font-size: 1.5em;">
					<div style="background-image: url(/images/screen.png);    background-repeat: no-repeat;    background-position: center;    background-size: 100%;    width: 58%;    margin: auto;">&nbsp;</div>
				</div>
				<div style="font-style: italic;font-weight: bold;color:rosybrown;margin-top: 1.5em;">中心线</div>
			</div>
			<div class="seat-body" >
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			
				<div class="s-row">
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat empty">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat sel">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="seat saled">
						
					</div>
					<div class="clearFix"></div>
				</div>
			</div>
		</div>
		
		<div class="clearFix"></div>
	</div>
	<div class="clearFix"></div>
</div>

<%- contentFor('style') %>
<style type="text/css">
.loading {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    margin: -.5em;
    /*background-image: url(/images/spinner.gif);*/
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
}
	.seat-wapper {
		text-align: center;	
	}
	.seat-container {
		position: relative;
		display: inline-block;
		margin: auto;
		padding: .5em;
		border: solid 2px khaki;
		border-radius: 4px;
	}
  .seat-container div.seat{
  	width:32px;
  	height: 32px;
  	float: left;
  	background-position-x: center;
    background-position-y: center;
    background-size: 32px 32px;
    margin: .5em;
    cursor: pointer;
  }

  .seat-container div.seat.empty {
  	background-image: url(/images/seat-empty.png);
  }

  .seat-container div.seat.saled {
  	background-image: url(/images/seat-saled.png);
  }

  .seat-container div.seat.sel {
  	background-image: url(/images/seat-sel.png);
  }
  .s-row.col-number {
  	width:40px;
  }
  .s-row.col-number .seat.number span{
  	font-size: 1.7em;
  	font-weight: bold;
  	display: inline-block;
  	color:gray;
  }

  .seat-body {
  	background-image: url(/images/line-h.jpg); 
  	background-repeat-x: no-repeat;
    background-position-x: center;
  }

  .seat.screen, .seat.number.head {
  	height: 65px !important;
  }
</style>


<%- contentFor('script') %>
<script type="text/javascript">
(function(){
  var c=document.getElementById('loadingCanvas'),
    ctx=c.getContext('2d'),
    pi = Math.PI,
    xCenter = c.width/2,
    yCenter = c.height/2,
    radius = c.width/3,
    startSize = radius/3,
    num=5,
    posX=[],posY=[],angle,size,i;

  window.setInterval(function() {
    num++;
    ctx.clearRect ( 0 , 0 , xCenter*2 , yCenter*2 );
    for (i=0; i<9; i++){
      ctx.beginPath();
      ctx.fillStyle = 'rgba(137, 4, 206, 1)';
      if (posX.length==i){
        angle = pi*i*.25;
        posX[i] = xCenter + radius * Math.cos(angle);
        posY[i] = yCenter + radius * Math.sin(angle);
      }
      ctx.arc(
        posX[(i+num)%8],
        posY[(i+num)%8],
        startSize/9*i,
        0, pi*2, 1); 
      ctx.fill();
    }
  }, 100);
  
})();
</script>

<%- contentFor('title') %>
Cinema