<h1>Movie Detail</h1>

<div style="text-align: center;">
	<h1>Movie Detail (<%= Object.keys(ticketList).length %>)</h1>
</div>


<input type="hidden" value="<%= movieId %>" name="movieId" />

<div class="seat-wapper">
	<div class="seat-container">
		<% var seatMapSortRowKey = Object.keys(seatMap).sort(); %>
		<div class="loading" style="display: none;">
			<canvas id="loadingCanvas" width="150" height="150" style="margin-top: -75px;"></canvas>
		</div>
		<div style="float:left;">
			<div class="s-row col-number">
				<div class="seat number head">
					<span>&nbsp;</span>
				</div>
				<% for (var i=0; i<seatMapSortRowKey.length; i++) { %>
				<div class="seat number">
					<span><%= parseInt(seatMapSortRowKey[i]) %></	span>
				</div>
				<% } %>				
				<div class="clearFix"></div>
			</div>
		</div>
		<div style="float:left;">
			<div class="seat screen" style="float:none;width:auto;">
				<div style="font-size: 1.5em;">
					<div style="background-image: url(/images/screen.png);    background-repeat: no-repeat;    background-position: center;    background-size: 100%;    width: 58%;    margin: auto;">&nbsp;</div>
				</div>
				<div style="font-style: italic;font-weight: bold;color:rosybrown;margin-top: 1.5em;">中心线</div>
			</div>
			<div class="seat-body" >

				<% for (var i=0; i<seatMapSortRowKey.length; i++) { %>				
				<div class="s-row">

					<% var seatMapSortColKey = Object.keys(seatMap[seatMapSortRowKey[i]]).sort(); %>

					<% for (var j=0; j<seatMapSortColKey.length; j++) { %>	
					<% var currentSeat = seatMap[seatMapSortRowKey[i]][seatMapSortColKey[j]]; %>
					<div class="seat <%= currentSeat.status %>" 
						data-seat-status='<%= currentSeat.status %>' 
						data-seat-key='<%= currentSeat.seatKey %>'>
						
					</div>
					<% } %>	
					<div class="clearFix"></div>
				</div>
				<% } %>	
			</div>
			<div class="s-row s-panel" style="display:none;">
				<button type="button" class="btn btn-success s-confirm">确认选择</button>
				<button type="button" class="btn btn-info s-clear-sel">重选</button>
				<button type="button" class="btn btn-warning s-refresh">Warning</button>
			</div>
		</div>
		
		<div class="clearFix"></div>
	</div>
	<div class="clearFix"></div>
</div>


<%- contentFor('stylesheet')%>
<link type="text/css" href="/stylesheets/cinema-main.css" rel="stylesheet">


<%- contentFor('script') %>
<script type="text/javascript">

$(function (argument) {

	canvalLoading("loadingCanvas");


	jQuery(function ($) {

		var socket = io.connect();
    	var socketTicket = '<%= socketTicket %>';

		socket.on('new message', function(data) {
			//debugger;
			// {
			// 	key:"c62479_005_20170101_19:40_CNXJ0056301_FR1A02#07",
			// 	status:"locked"
			// }
			if (!(data && data.content)) return;

			data.content.forEach(function (item) {
				var t = $("div[data-seat-key^='" + item.key + "']");
				$(t).attr('data-seat-key', item.key + '_' + item.status);
				$(t).removeClass('sel').removeClass('pending').removeClass('locked');
				$(t).addClass(item.status);
				$(t).fadeTo(300,0.1).fadeIn(300).fadeTo(1000,1);
			});

		});

		socket.on('new message ' + socketTicket, function(data) {
			//debugger;
		});

		$(document).on("click", ".seat-body .s-row .seat", function () {

			if ($(this).hasClass("sel")) {
				$(this).removeClass("sel"); 

				if($(".seat-body .seat.sel").length == 0) $(".seat-container .s-panel").slideUp();

				return;
			}

			if ($(this).attr("data-seat-status") != 'pending') return;

			$(this).addClass("sel");

			if(!$(".seat-container .s-panel").is(":visible")) {
				$(".seat-container .s-panel").slideDown();
			}

		});

		$(document).on("click", ".s-panel .s-clear-sel", function () {
			$(".seat-body .seat.sel").removeClass("sel");
			$(".seat-container .s-panel").slideUp();
		});

		$(document).on("click", ".s-panel .s-confirm", function () {
			
			if($(".seat-body .seat.sel").length == 0) return;

			var ticketKeyList = [];

			$(".seat-body .seat.sel").each(function () {
				ticketKeyList.push($(this).attr('data-seat-key'));
			});

			$.ajax({
				type: 'POST',
				url: '/cinema/<%= movieId %>/',
				data: { ticketKeyList: ticketKeyList },
				success: function (result) {
					//debugger;
				},
				error: function(response, error) {
					debugger;
				},
				dataType: 'JSON'
			});

		});

	});

});
</script>

<%- contentFor('title') %>
Movie Detail